
    body {
      background: #b6b8ba;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 85px 0px;
    }

    .chatbar {
      background: black;
      border-top: 3px solid #510187;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 15px 10px 30px 10px;
      position: fixed;
      right: 0;
    }

    .chatbar-message,
    .chatbar-username {
      border: 3px solid #510187;
      border-radius: 5px;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 10px;
      padding: 0 9px;
    }

    .chatbar-message {
      flex: 8;
    }

    .chatbar-username {
      flex: 2;
    }

    #message-list{
      margin-bottom: 112px;
    }

    .message {
      display: flex;
      padding: 5px;
      border-bottom: 1px solid grey;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }

    .message-content {
      font-size: 16px;
      flex: 8;
    }

    .message-username {
      flex: 2;
      font-weight: 700;
      font-size: 20px;
      text-shadow: 1px 1px black;
    }

    .message-image {
      border: 3px solid black;
      border-radius: 5px;
      max-width: 40%;
    }

    .navbar {
      background: black;
      border-bottom: 3px solid #510187;
      height: 80px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
    }

    .navbar-brand {
      text-shadow: 2px 2px #510187;
      color: white;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 42px;
      height: 60px;
      line-height: 80px;
      padding: 0 10px;
      text-decoration: none;
    }

    .userCount {
      text-shadow: 2px 2px #510187;
      color: white;
      font-weight: 700;
      font-size: 24px;
      padding-right: 10px;
      float: right;
      line-height: 80px;
    }
